.item {
	background-color: rgb(255, 234, 234);
	width: 100%;
	padding: 0.7em 0.7em;
	font-size: 1.2rem;
	border-bottom: 1px solid rgb(223, 216, 216);
	display: flex;
	align-items: center;
	transition: 100ms ease-in;
}

.item:nth-child(1) {
	border-radius: 5px 5px 0px 0px;
}

.item:hover {
	background-color: rgb(247, 197, 197);
	cursor: pointer;
}

.content {
	display: flex;
	flex-basis: 1;
	width: 100%;
}

.status {
	width: 1em;
	height: 1em;
	outline: none;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid rgb(167, 167, 167);
	margin-right: 1em;
}

.done {
	background-color: rgb(235, 134, 168);
	border: none;
}

.name {
}

.doneName {
	text-decoration: line-through;
}

.button {
	background-color: transparent;
	outline: none;
	border: none;
	color: rgb(235, 134, 168);
	opacity: 0%;
	font-size: 1rem;
}

.button:hover {
	cursor: pointer;
	color: white;
}

.item:hover button {
	opacity: 100%;
}
