@value makerLightBlue, makerDarkBlue, makerBlue, makerGray, makerWhite, makerLightPurple from '../../common/colors.css';

.item {
	background-color: makerLightBlue;
	width: 100%;
	padding: 0.7em 1em;
	font-size: 1.2rem;
	border-bottom: 1px solid makerGray;
	display: flex;
	align-items: center;
	transition: 100ms ease-in;
}

.item:nth-child(1) {
	border-radius: 5px 5px 0px 0px;
}

.item:hover {
	background-color: makerLightPurple;
	cursor: pointer;
}

.content {
	display: flex;
	flex-basis: 1;
	width: 100%;
}

.status {
	width: 1em;
	height: 1em;
	outline: none;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid makerGray;
	margin-right: 1em;
}

.done {
	background-color: makerBlue;
	border: none;
}

.doneName {
	text-decoration: line-through;
	color: makerGray;
}

.button {
	background-color: transparent;
	outline: none;
	border: none;
	color: makerDarkBlue;
	opacity: 0%;
	font-size: 1rem;
	transition: opacity 100ms ease-in;
}

.button:hover {
	cursor: pointer;
	color: makerWhite;
}

.item:hover button {
	opacity: 1;
}
