.addForm {
	display: flex;
	width: 100%;
	background-color: rgb(255, 234, 234);
	border-radius: 5px;
	align-items: center;
	transition: all 200ms ease-in;
	margin-bottom: 1em;
}

.input {
	flex-basis: 1;
	width: 100%;
	padding: 0.5em 1em;
	font-size: 1.2rem;
	font-family: "Single Day", cursive;
	outline: none;
	border: none;
	border-radius: 5px;
	background-color: rgb(255, 234, 234);
}

.addForm:hover {
	transform: scale(1.03);
	box-shadow: 0px 1px 15px 5px rgba(172, 169, 170, 0.514);
}

.button {
	background-color: white;
	color: rgb(235, 134, 168);

	width: 1.5em;
	height: 1.5em;
	outline: none;
	border-radius: 50%;
	border: none;
	margin-left: 1em;
	cursor: pointer;
	transition: transform 100ms ease-in;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button i {
	font-size: 0.6rem;
}

.button:hover {
	background-color: rgb(235, 134, 168);
	color: white;
}
