@value makerLightBlue, makerDarkBlue from '../../common/colors.css';

.controlBar {
	background-color: makerLightBlue;
	padding: 0.7em 5em;
	font-size: 1.2rem;
	border-radius: 0px 0px 5px 5px;
	border-top: 1px solid rgb(223, 216, 216);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Sunflower", sans-serif;
	font-size: 0.9rem;
}

.buttons {
	margin-left: 1.2em;
}

.button {
	background-color: transparent;
	outline: none;
	border: none;
	font-family: "Varela Round", sans-serif;
	font-size: 0.9rem;
	padding: 0.2em;
	margin-right: 0.5em;
	font-family: "Sunflower", sans-serif;
	transition: all 100ms ease-in;
}

.button:hover {
	cursor: pointer;
	color: makerDarkBlue;
	transform: scale(1.05);
}
