.controlBar {
	background-color: rgb(255, 234, 234);
	padding: 0.7em 5em;
	font-size: 1.2rem;
	border-radius: 0px 0px 5px 5px;
	border-top: 1px solid rgb(223, 216, 216);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Ubuntu", sans-serif;
	font-size: 0.8rem;
}

.buttons {
	margin-left: 1.2em;
}

.button {
	background-color: transparent;
	outline: none;
	border: none;
	/* border-radius: 5px; */
	font-family: "Varela Round", sans-serif;
	font-size: 0.8rem;
	padding: 0.2em;
	margin-right: 0.5em;
	font-family: "Ubuntu", sans-serif;
}

.button:hover {
	cursor: pointer;
	color: rgb(235, 134, 168);
}
