.app {
	min-height: 100vh;
	min-width: 100vw;
	background: url("./image/background_grid.jpg") rgb(245, 243, 243);
	background-size: auto auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 30em;
	height: 32em;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	color: white;
	margin-bottom: 1em;
}

.title {
	margin: 0;
	font-size: 2rem;
}

.edit {
	font-size: 1.5rem;
	margin-left: 0.5em;
	margin-bottom: 0.2em;
}

.listAndBar {
	height: 20em;
	box-shadow: 0px 6px 11px 0px rgba(100, 98, 99, 0.705);
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}
